[submodule "flappy"]
	path = flappy
	url = https://github.com/aberigle/floppybird
[submodule "src/stylus/cssmethods"]
	path = src/stylus/cssmethods
	url = https://aberigle@github.com/aberigle/CSSmethods.git
