#main
  position absolute
  margin-top 15%
  z-index 1

  .info
    .avatar
      width 200px

    .social
      text-align center
      color white
      font-size xx-large

      a
        transition all 400ms
        color white
        padding .5em 1em

        &:hover
          &.twitter
            background #4099ff // twitter blue
          &.github
            background black
          &.google-plus
            background #db4b39 // gplus red
          &.linkedin
            background #0077B5
          &.envelope-alt
            background gray

      .show-phone
        font-size x-large

footer
  position absolute
  bottom 0
  color white
  a
    color white !important

  .uhurus a
    color #00a362 !important
