doctype html
head
  title @aberigle - Alejandro Berzosa Iglesias
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="author" content="@aberigle")
  meta(property="og:title" content="Alejandro Berzosa")
  meta(property="og:url" content="http://aberigle.com")
  meta(property="og:image" content="https://avatars3.githubusercontent.com/u/3426238")
  meta(property="twitter:creator" content="@aberigle")
  meta(property="twitter:site" content="http://aberigle.com")
  meta(property="twitter:card" content="summary")
  meta(http-equiv="Content-Language" content="es")
  meta(name="revisit-after" content="1 days")
  meta(name="distribution" content="global")
  link(rel="stylesheet", href="/dependencies/tuktuk/tuktuk.css")
  link(rel="stylesheet", href="/dependencies/tuktuk/tuktuk.icons.css")
  link(rel="stylesheet", href="/static/css/app.css")
body
  .background-image.full-size#overlay
  .background-image.full-size.background-container
    .background-image.full-size#background
    
  section#main.full-width
    div.info      
      div.avatar.centered
        img.responsive.round(src="https://avatars3.githubusercontent.com/u/3426238")
      div.social.padding-top.margin-top
        div.hide-phone
          a.icon.twitter(href="https://twitter.com/aberigle",target="_blank")
          a.icon.google-plus(href="https://plus.google.com/115171581646420603678",target="_blank")
          a.icon.github(href="https://github.com/aberigle",target="_blank")
          a.icon.linkedin(href="https://linkedin.com/in/aberigle",target="_blank")
          a.icon.envelope-alt(href="mailto:a.berzosa.iglesias@gmail.com")
        div.show-phone
          a.icon.twitter(href="https://twitter.com/aberigle",target="_blank")
          a.icon.google-plus(href="https://plus.google.com/115171581646420603678",target="_blank")
          a.icon.github(href="https://github.com/aberigle",target="_blank")
          a.icon.linkedin(href="https://linkedin.com/in/aberigle",target="_blank")
          a.icon.envelope-alt(href="mailto:a.berzosa.iglesias@gmail.com")
  section#lastfm.absolute.full-width
    div.centered
      img.responsive
      p
  footer.full-width
    div#copyright.on-left
      img.margin-top.margin-left.margin-right
      a(target="_blank").padding-top.padding-bottom
    div.on-right.uhurus.padding
      p made with 
        span.icon.coffee
        |  by 
        a(href="http://uhurus.com", target="_blank") uhurus
        
  
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/dependencies/tuktuk/tuktuk.js")
  script(src="static/js/app.debug.js")
  script(src="//localhost:35729/livereload.js")
