#overlay
#background
section#main
  .avatar
    img(src="https://avatars3.githubusercontent.com/u/3426238")
  .social
    a(href="https://bsky.app/profile/aberigle.com"     target="_blank").icon.bsky
    a(href="https://github.com/aberigle"      target="_blank").icon.github
    a(href="https://linkedin.com/in/aberigle" target="_blank").icon.linkedin
    a(href="mailto:aberigle@uhurus.com").icon.mail

section#lastfm
  a(target="_blank", href="https://www.last.fm/user/Jayle23")
    img.art

  .info
    strong.song
    small.artist

  img(src="equalizer.gif").eq

footer
  a(target="_blank")#copyright
    strong
    small
  .uhurus
    p made with&nbsp;
      span.icon.coffee
      |  by&nbsp;
      a(href="https://uhurus.com" target="_blank") uhurus