#overlay
#background
section#main
  .avatar
    img(src="https://avatars3.githubusercontent.com/u/3426238")
  .social
    a(href="https://twitter.com/aberigle"     target="_blank").icon.twitter
    a(href="https://github.com/aberigle"      target="_blank").icon.github
    a(href="https://linkedin.com/in/aberigle" target="_blank").icon.linkedin
    a(href="mailto:aberigle@uhurus.com").icon.mail


footer
  a(target="_blank")#copyright
  .uhurus
    p made with&nbsp;
      span.icon.coffee
      |  by&nbsp;
      a(href="https://uhurus.com" target="_blank") uhurus