:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  min-width: 320px;
  min-height: 100vh;
}

#overlay {
  background-color: rgba(0, 0, 0, .4);
  z-index: 0;
  transition: all 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main {
  transition: all 300ms;
  z-index: 2;
  opacity: 1;
  margin: 10em auto;
}

.avatar {
  border-radius: 5em;
  margin: 2em auto;
  width: 15em;
}

.avatar img {
  cursor: pointer;
  margin: auto;
  transition: all 300ms;
  width: 100%;
  border-radius: 50%;
  border: .3em solid white;
}

.avatar img:hover {
  box-shadow: 0 0 1em white;
  /* border: 1px solid black; */

}

.social {
  text-align: center;
  display: flex;
  width: 25em;
}

a.icon {
  padding: .6em 2em;
  transition: all 300ms;
  flex-grow: 1;
  place-content: center;
  display: flex;
  border-radius: 5%;
}

a.twitter:hover {
  background: #4099ff;
  box-shadow: 0 0 1em #4099ff;
}
a.github:hover{
  background: black;
  box-shadow: 0 0 1em black;
}
a.google-plus:hover{
  background: #db4b39;
  box-shadow: 0 0 1em #db4b39;
}
a.linkedin:hover{
  background: #0077B5;
  box-shadow: 0 0 1em #0077B5;
}
a.mail:hover{
  background: #00a362;
  box-shadow: 0 0 1em #00a362;
}

a.icon svg {
  width: 1.6em;
}

.icon svg {
  fill: white;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: all 300ms;
  position: absolute;
  bottom: 0;
  color: white;
}

#copyright {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

.uhurus {
  margin-right: 1em;
}

.uhurus .icon {
  display: inline-block;
  width: 1em;
}

.uhurus a {
  background-color: #00a362;
  color: white;
  font-weight: 400;

  text-decoration: none;
  padding: 0;
  transition: all 300ms;
}

.uhurus a:hover {
  background-color: #00a362;
  color:white;
  border-radius: 10%;
  padding: .2em 0;
  box-shadow: 0 0 .3em #00a362;
}

.clean #main {
  margin-top: -2em;
  opacity: 0;
}

.clean #overlay {
  background-color: transparent;
}

.clean footer {
  background-color: rgba(0, 0, 0, .4);
  box-shadow: 0 0 2em 2em rgba(0, 0, 0, .4);
}