:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: space-around;
  min-width: 320px;
  min-height: 100vh;
}

#overlay {
  background-color: rgba(0, 0, 0, .4);
  z-index: 0;
  transition: all 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
}

#background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main {
  z-index: 2;
  margin: 10em auto;
}

.avatar {
  border-radius: 5em;
  margin: 2em auto;
  width: 15em;
}

.avatar img {
  margin: auto;
  width: 100%;
  border-radius: 50%;
}

.social {
  text-align: center;
  display: flex;
  width: 25em;
}

a.icon {
  padding: .5em 2em;
  transition: background 300ms;
  flex-grow: 1;
  align-items: center;
  display: flex;
}

a.twitter:hover {
  background: #4099ff;
}
a.github:hover{
  background: black;
}
a.google-plus:hover{
  background: #db4b39;
}
a.linkedin:hover{
  background: #0077B5;
}
a.mail:hover{
  background: gray;
}

a.icon svg {
  width: 2em;
}

.icon svg {
  fill: white;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: all 300ms;
  position: absolute;
  bottom: 0;
  color: white;
}

#copyright {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

.uhurus {
  margin-right: 1em;
}

.uhurus .icon {
  display: inline-block;
  width: 1em;
}

.uhurus a {
  font-weight: 400;
  color: #00a362;
  text-decoration: none;
  padding: 0;
  transition: all 300ms;
}

.uhurus a:hover {
  background-color: #00a362;
  color:white;
  border-radius: 10%;
  padding: .2em 0;
  box-shadow: 0 0 .3em #00a362;
}